<mat-checkbox #checkbox (click)="onDone()" [checked]="task.isDone"
  ><span [class.is-done]="checkbox.checked">{{
    task.title
  }}</span></mat-checkbox
>
<button mat-button color="primary" (click)="onDelete()">
  <mat-icon>delete</mat-icon>
</button>
