<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>Todo IT IS FIRST VERSION</mat-card-title>
    <mat-card-subtitle>This demo project</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let task of tasksList$ | async">
        <demo-project-todo-item
          (toggle)="toggleTask($event)"
          (delete)="deleteTask($event)"
          [task]="task"
        ></demo-project-todo-item>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <input
            #input
            matInput
            placeholder="Create new task"
            (keyup.enter)="onCreate(input.value); input.value = ''"
          />
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
